p{
    color: rgb(3, 68, 46);
    background-color: rgb(221, 200, 172);
    font-weight:500 ;
    font-size:26px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid rgb(131, 119, 143);
    border-radius: 100px 0px 100px 0px;
    margin: 20px 25px 10px 15px;
    padding: 25px 60px 25px 60px;
}
h1{
    /* display: none; */
    /* visibility: hidden; */
}