*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    background: black;
}

header{
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
    padding: 30px 15px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid 	#E5B80B;
    box-shadow: 1px 0px 8px 	#E5B80B;
}

.logo {
    font-size: 25px;
    color:#E5B80B ;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #eed98f;
    text-decoration: none;
    font-weight: 500;
    margin: 0px 20px;
}

.navbar a:hover, 
.navbar a.active{
     color: #E5B80B;
}

.social-midea{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}

.social-midea a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;

}

.social-midea a:hover {
    border-color:#E5B80B ;
}

.social-midea a i {
    font-size: 24px;
    color: #E5B80B;
    transform: rotate(-45deg);
}